extends layout

block content
  main 
    p Add new message

    form(
      action=(id) ? `/edit/${id}/updated?_method=PUT` : "/new",
      method='POST'
    )
      div
        label(for="name") Name
        input#text(
          required 
          type="text" 
          value=user || ''
          name="name" placeholder="Letam" 
        )
      div
        label(for="message") Message
        textarea#message(
          required
          type="text" 
          name="message" 
          placeholder="What's on your mind" 
        ) #{text || ''}
      button(id="post-message-button" data-id=id) Post Message