extends layout

block content
  main 
    a(href="/new" class="add-message") Add Message
    div.card-container
      each message in mssgArr
        div.card
          div.image-container
            a(href=`edit/${message._id}`)
              img(src="images/edit-icon.jpg" alt="Edit Icon")
            a(href=`delete/${message._id}`)
              img(src="images/delete-icon.png" alt="Delete Icon")
          h3 #{message.user}
          p #{message.text}
          p #{message.date}
      else 
        h3.no-message Oops, No Message Posted!